* {
    box-sizing: border-box;
}

html, body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(153, 18, 18);
}

.collage {
    margin: 1rem;
    padding: 1rem;
}
.collage-title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.christmas-1 {
    grid-area: christmas-1;
}

.christmas-2 {
    grid-area: christmas-2;
}

.christmas-3 {
    grid-area: christmas-3;
}

.christmas-4 {
    grid-area: christmas-4;
}

.christmas-5 {
    grid-area: christmas-5;
}


.christmas-6 {
    grid-area: christmas-6;
}

.christmas-7 {
    grid-area: christmas-7;
}
.collage-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 250px);
    grid-template-areas: 
    "christmas-1 christmas-2 christmas-2 christmas-3"
    "christmas-4 christmas-4 christmas-5 christmas-6"
    "christmas-4 christmas-4 christmas-7 christmas-7";
    gap: 15px;
}
